<div class="page-container">
    <div class="container">
    <section class="page_banner text-center bg-img theme-overlay-blue-dark pt-5 pb-5" data-overlay-dark="7">
        <div class="container decoration_wrap">
            <h1 class="page_title">PACKAGE</h1>
            <ul class="breadcrumb_nav unordered_list_center">
                <li><a href="#">Home</a></li>
                <li><img src="assets/images/airrow.png" alt=""></li>
                <li>PACKAGE</li>
            </ul>
        </div>
    </section>
</div>
<br><br>
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-3 text-center text-white">
            <p>We offer payment plans</p>
            <h3>Our Flexible Pricing Plan</h3>
            <p class="mt-5">It is a long established fact that a reader will be distracted by the readable content.</p>
            <button class="custom-btn mt-2"
            type="submit">
            <span>CONTACT US NOW</span>

        </button>
        </div>
        <div class="col-md-9">
            <div class="container" style="position: relative;margin-bottom:291px;">
                <div class="bg">
                    <div class="row">
                                <div class="col-md-4 why-us-card">
                                    <div class="work-post-gal">
                                        <div class="content">
                                            <h4>$59/Monthly</h4>
                                            <ul>
                                                <li>10 listings Submit</li>
                                                <li>60 Days Availability</li>
                                                <li>Average Price Range</li>
                                                <li>20 Featured Listings</li>
                                                <li>24/5 Fully Support</li>
                                            </ul>
                                            
                                        </div>
                                        <div class="button">
                                            BASIC
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="col-md-4 why-us-card">
                                    <div class="work-post-gal">
                                        <div class="content">
                                            <h4>$59/Monthly</h4>
                                            <ul>
                                                <li>10 listings Submit</li>
                                                <li>60 Days Availability</li>
                                                <li>Average Price Range</li>
                                                <li>20 Featured Listings</li>
                                                <li>24/5 Fully Support</li>
                                            </ul>
                                            
                                        </div>
                                        <div class="button">
                                            PROFESSIONAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 why-us-card">
                                    <div class="work-post-gal">
                                        
                                        <div class="content">
                                            <h4>$59/Monthly</h4>
                                            <ul>
                                                <li>10 listings Submit</li>
                                                <li>60 Days Availability</li>
                                                <li>Average Price Range</li>
                                                <li>20 Featured Listings</li>
                                                <li>24/5 Fully Support</li>
                                            </ul>
                                            
                                        </div>
                                        <div class="button">
                                            ENTERPRISE
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                </div>
               
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="service">
                <h3>Our Services</h3>
                <ul class="service-list">
                    <li><img src="assets/images/slist.png" alt="">Company Registration</li>
                    <li><img src="assets/images/slist.png" alt="">Export/ Import Licenses</li>
                    <li><img src="assets/images/slist.png" alt="">For UMFCCI</li>
                    <li><img src="assets/images/slist.png" alt="">For MIC</li>
                    <li><img src="assets/images/slist.png" alt="">For FDA</li>
                    <li><img src="assets/images/slist.png" alt="">For Tax Services</li>
                    <li><img src="assets/images/slist.png" alt="">For YCDC</li>
                    <li><img src="assets/images/slist.png" alt="">For Legal</li>
                    <li><img src="assets/images/slist.png" alt="">Logo Trademark Registration</li>
                    <li><img src="assets/images/slist.png" alt="">For Marriage</li>
                    <li><img src="assets/images/slist.png" alt="">Labour Law</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="service-content text-white">
                <p>FAMILY LAW</p>
                <h3 class="mb-5">PARENTING</h3>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>

                <h3>PARENTING TIME</h3>
                <ul>
                    <li>Shared - The children spend at least 40% of the time with each parent.</li>
                    <li>Majority - The children spend more than 60% of the time with one of the parent.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
